# Python Basics


This notebook contains Basics of Python
1. Data Types
    a. Numbers
    b. Strings
    c. Printing
    d. Lists
    e. Dictionaries
    f. Booleans
    g. Tuples
    h. Sets
2. Comaprision Operators
3. if,elfi,else Statements
4. for loops
5. range()
6. list comprehension
7. functions
8. lambda expressions
9. map and filter
10. methods

# Data types

#### Numbers

In [2]:
#addition
2 + 2

4

In [3]:
#multiplication
2 * 3

6

In [4]:
#division
2/4

0.5

In [6]:
#power
4 ** 2

16

In [7]:
#Mod
4 % 2

0

In [8]:
9 % 2

1

In [9]:
#brackets
(2+5) * (3+5)

56

#### Variable Assignments

In [12]:
# Cannot start with number or special charaters
name_of_var = 2

In [13]:
x = 4
y = 2

In [14]:
z = x + y

In [15]:
z

6

#### Strings

In [18]:
'single quotes'

'single quotes'

In [19]:
"double quotes"

'double quotes'

In [20]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

#### Printing

In [21]:
a = "apple"

In [22]:
a

'apple'

In [23]:
print(a)

apple

In [24]:
num = 10
name = "Hari"

In [25]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 10, and my name is: Hari

In [27]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 10, and my name is: Hari

#### Lists

In [28]:
[2,4,6,8]

[2, 4, 6, 8]

In [29]:
['hi',2,[2,2]]

['hi', 2, [2, 2]]

In [30]:
my_list = ['a','b','c']

In [31]:
my_list.append('d')

In [32]:
my_list

['a', 'b', 'c', 'd']

In [33]:
my_list[0]

'a'

In [34]:
my_list[1]

'b'

In [35]:
my_list[1:]

['b', 'c', 'd']

In [36]:
my_list[:1]

['a']

In [37]:
my_list[0] = 'NEW'

In [38]:
my_list

['NEW', 'b', 'c', 'd']

In [39]:
nest = [1,2,3,[4,5,['target']]]

In [40]:
nest[3]

[4, 5, ['target']]

In [41]:
nest[3][2]

['target']

In [42]:
nest[3][2][0]

'target'

#### Dictionaries

In [43]:
d = {'key1': 'item1','key2':'item2'}

In [44]:
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d['key1']

'item1'

#### Booleans

In [46]:
True

True

In [47]:
False

False

#### Tuples

In [ ]:
#A tuple is a sequence of immutable Python objects

In [48]:
t = (1,2,3)

In [50]:
t[0]

1

In [52]:
t[0]= 'NEW'

TypeError: 'tuple' object does not support item assignment

#### Sets

In [54]:
{1,2,3}

{1, 2, 3}

In [55]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}