# Python Basics


This notebook contains Basics of Python
1. Data Types
    a. Numbers
    b. Strings
    c. Printing
    d. Lists
    e. Dictionaries
    f. Booleans
    g. Tuples
    h. Sets
2. Comaprision Operators
3. if,elfi,else Statements
4. for loops
5. range()
6. list comprehension
7. functions
8. lambda expressions
9. map and filter
10. methods

# Data types

#### Numbers

In [2]:
#addition
2 + 2

4

In [3]:
#multiplication
2 * 3

6

In [4]:
#division
2/4

0.5

In [6]:
#power
4 ** 2

16

In [7]:
#Mod
4 % 2

0

In [8]:
9 % 2

1

In [9]:
#brackets
(2+5) * (3+5)

56

#### Variable Assignments

In [12]:
# Cannot start with number or special charaters
name_of_var = 2

In [13]:
x = 4
y = 2

In [14]:
z = x + y

In [15]:
z

6

#### Strings

In [18]:
'single quotes'

'single quotes'

In [19]:
"double quotes"

'double quotes'

In [20]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

#### Printing

In [21]:
a = "apple"

In [22]:
a

'apple'

In [23]:
print(a)

apple

In [24]:
num = 10
name = "Hari"

In [25]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 10, and my name is: Hari

In [27]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 10, and my name is: Hari

#### Lists

In [28]:
[2,4,6,8]

[2, 4, 6, 8]

In [29]:
['hi',2,[2,2]]

['hi', 2, [2, 2]]

In [30]:
my_list = ['a','b','c']

In [31]:
my_list.append('d')

In [32]:
my_list

['a', 'b', 'c', 'd']

In [33]:
my_list[0]

'a'

In [34]:
my_list[1]

'b'

In [35]:
my_list[1:]

['b', 'c', 'd']

In [36]:
my_list[:1]

['a']

In [37]:
my_list[0] = 'NEW'

In [38]:
my_list

['NEW', 'b', 'c', 'd']

In [39]:
nest = [1,2,3,[4,5,['target']]]

In [40]:
nest[3]

[4, 5, ['target']]

In [41]:
nest[3][2]

['target']

In [42]:
nest[3][2][0]

'target'

#### Dictionaries

In [43]:
d = {'key1': 'item1','key2':'item2'}

In [44]:
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d['key1']

'item1'

#### Booleans

In [46]:
True

True

In [47]:
False

False

#### Tuples

In [ ]:
#A tuple is a sequence of immutable Python objects

In [48]:
t = (1,2,3)

In [50]:
t[0]

1

In [52]:
t[0]= 'NEW'

TypeError: 'tuple' object does not support item assignment

#### Sets

In [54]:
{1,2,3}

{1, 2, 3}

In [55]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

#### Comparision Operators

In [56]:
2 > 4

False

In [57]:
2 < 4

True

In [59]:
1 >= 1

True

In [60]:
1 <= 4

True

In [61]:
1 == 1

True

In [62]:
'hi' == 'bye'

False

#### Logic Operators

In [63]:
(1>2) and (2 <3)

False

In [64]:
(1>2) or (2<3)

True

In [67]:
(1 == 2) or (2 == 3) or (4 == 4)

True

#### If,elif, else Statements

In [68]:
if 1 < 2:
    print('Yes!')

Yes!

In [69]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [70]:
if 1 > 2:
    print('first')
else:
    print('second')

second

In [72]:
if 1 == 4:
    print('first')
elif 3 == 3:
    print('second')
else:
    print('Third')

second

#### for Loops

In [73]:
seq = [1,2,3,4,5]

In [74]:
for item in seq:
    print(item)

1
2
3
4
5

In [75]:
for item in seq:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [76]:
for aasd in seq:
    print(aasd+aasd)

2
4
6
8
10

#### while Loops

In [77]:
i = 1
while i < 10:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9

#### range()

In [78]:
range(6)

range(0, 6)

In [79]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [80]:
list(range(6))

[0, 1, 2, 3, 4, 5]

#### list comprehension

In [81]:
x = [1,2,3,4]

In [82]:
square = []
for item in x:
    square.append(item**2)
print(square)

[1, 4, 9, 16]

In [83]:
[item ** 2 for item in x]

[1, 4, 9, 16]

#### functions

In [84]:
def func(parm='default'):
    """Docstring goes here."""
    print(parm)

In [86]:
func

In [87]:
func()

default

In [88]:
func('new Parm')

new Parm

In [89]:
func(parm="new parm")

new parm

In [90]:
def square(x):
    return x ** 2

In [91]:
out = square(2)

In [92]:
print(out)

4

#### lambda expressions

In [93]:
def times2(var):
    return var*2

In [94]:
times2(2)

4

In [95]:
lambda var: var*2

#### map and filter

In [96]:
seq = [1,2,3,4,5]

In [97]:
map(times2,seq)

In [98]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [99]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [100]:
filter(lambda item: item %2 ==0,seq)

In [101]:
list(filter(lambda item: item%2 ==0, seq))

[2, 4]

#### methods

In [102]:
a = 'hello my name is Hari'

In [103]:
a.lower()

'hello my name is hari'

In [104]:
a.upper()

'HELLO MY NAME IS HARI'

In [105]:
a.split()

['hello', 'my', 'name', 'is', 'Hari']

In [106]:
sent = "Go goa gone! #asdasd"

In [107]:
sent.split('#')

['Go goa gone! ', 'asdasd']

In [112]:
sent.split("#")[1]

'asdasd'

In [113]:
d

{'key1': 'item1', 'key2': 'item2'}

In [114]:
d.keys()

dict_keys(['key1', 'key2'])

In [116]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [117]:
lt = [2,4,6]

In [118]:
lt.pop()

6

In [119]:
lt

[2, 4]

In [120]:
'x' in [1,2,3]

False

In [121]:
'x' in ['x','y','z']

True